.wrapper {
  margin-top: 3.75rem;
  width: 100%;
  padding: 0 0.2rem;
}

.title {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin-bottom: 1.25rem;
}

.sliderContainer {
  position: relative;
}

.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.arrowButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}

.arrowButton svg {
  width: 80%;
  height: 80%;
  fill: var(--yellow-dark);
}

.arrowButton:hover {
  opacity: 1;
}

.arrowButton:hover svg {
  fill: var(--yellow);
}

.leftButton {
  left: -25px;
}

.leftButton:hover {
  box-shadow: -4px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.rightButton {
  right: -25px;
}

.rightButton:hover {
  box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .leftButton {
    left: 5px;
  }

  .leftButton:hover {
    box-shadow: none;
  }

  .rightButton {
    right: 5px;
  }

  .rightButton:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .arrowButton {
    display: none;
  }
}

/* Scroll Config */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow-transparent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow-light); 
}