.wrapper {
  background: var(--yellow-light);
  padding: 10px 15px;
  letter-spacing: 0.1rem;
  color: var(--word);
  border: 1px solid var(--yellow);
  cursor: pointer;
}

.wrapper:hover {
  color: var(--yellow);
}