.wrapper {
  margin-top: 3.75rem;
  margin-bottom: 7.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
  max-width: 768px;
  box-shadow: 0 0 0 4px white, 0 0 0 8px var(--yellow);
}

.paragraph {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-tertiary);
  font-style: italic;
  text-align: center;
  padding: 0 2rem;
}