.wrapper {
  background: white;
}

.button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button svg {
  transition: 0.3s;
}

.button:hover svg {
  fill: var(--yellow-light);
}