.wrapper {
  position: relative;
  min-width: 240px;
  min-height: 320px;
  max-width: 240px;
  max-height: 320px;
  background: #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  scroll-snap-align: start;
}

.image {
  width: 100%;
  height: 100%;
}

.wrapper:hover .over {
  opacity: 0.8;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--word);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s;
}

.over svg {
  width: 64px;
  height: 64px;
  fill: white;
}