.wrapper {
 background-color: var(--yellow-dark);
 display: flex;
 align-items: center;
 justify-content: space-between;
 overflow: hidden;

  padding: 0.5rem 3.2rem;
}

.wrapper h2 {
  color: var(--yellow-light);
  font-family: var(--font-secondary);
  font-weight: 300;
}

.wrapper a {
  color: white;
}