.wrapper {
  background: white;
  height: 7.5rem;
  z-index: 10;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 80px;
    height: auto;
  }
}