.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;

  height: auto;

  padding: 1rem;
}

.copyright {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}

.socialnetworks {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socialnetworks a {
  background: var(--yellow);
  padding: 0.3rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.socialnetworks a:hover {
  background: var(--yellow-light);
}

.socialnetworks a:hover svg {
  fill: #f2f2f2;
}

.socialnetworks svg {
  fill: black;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .wrapper .copyright {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 425px) {
  .wrapper .copyright {
    font-size: 1rem;
  }
}
