.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;

  height: 5rem;

  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    font-size: 1rem;
  }
}
