.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--yellow-light);
  min-width: 240px;
  max-width: 300px;
  width: 20%;
  padding: 0.8rem;
  position: relative;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
}

.divider {
  border: 1px solid black;
  opacity: 0.1;
}

.addCategoria {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.addCategoria input {
  min-width: 172px;
  padding: 0 0.5rem;
}

.addCategoria button {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  background: white;
}

.addCategoria button:hover {
  background-color: rgb(212, 212, 212);
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1.2rem;
  max-height: 400px;
  overflow-y: scroll;
}

.footer {
  width: 100%;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.buttonOpen {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: var(--yellow);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px black;
  display: none;
}

.buttonOpen svg {
  fill: white;
}

@media (max-width: 800px) {
  .wrapper {
    position: absolute;
    z-index: 1000;
    min-height: calc(100vh - 42px);
    transition: transform 0.3s linear;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
  }

  .buttonOpen {
    display: flex;
  }

  .closed {
    transform: translateX(-100%);
  }
}


/* Scroll Config */
.categories::-webkit-scrollbar {
  width: 2px;
  height: 6px;
}

/* Track */
.categories::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
.categories::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Handle on hover */
.categories::-webkit-scrollbar-thumb:hover {
  background: var(--yellow-light); 
}