.wrapper {
  width: 100%;
  height: calc(100vh - 120px);
  background: url('./../../assets/banner.png') no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: calc(100% - 60px);
  max-width: 960px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.content {
  max-width: 380px;
  padding: 1rem;
}

.title {
  color: white;
  font-size: 3.25rem;
  font-family: var(--font-primary);
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1rem;
  line-height: 1.1;
}

.info {
  color: var(--yellow);
  font-size: 1.125rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1.25rem;
}

.btn {
  min-width: 220px;
  height: 3rem;
  background: var(--yellow);
  color: var(--yellow-dark);
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  letter-spacing: 0.1rem;

  box-shadow: 0 0 0 3px var(--yellow-dark);
  cursor: pointer;
  margin-top: 1.25rem;
}

.btn:hover {
  color: var(--yellow-light);
  box-shadow: 0 0 0 3px white, 0 0 0 6px var(--yellow);
}

@media screen and (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }

  .container {
    justify-content: center;
  }

  .content {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}